@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(10, 10, 10);
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    text-align: center;
}

h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media (max-width: 500px) {
    #lista {
        width: 90vw;
    }

    #inputTitle {
        width: 70vw;
    }

    #inputType, #inputYear {
        width: 20vw;
    }
}

@media (min-width: 500px) {
    #lista {
        width: 50vw;
    }
    
    #inputTitle {
        width: 30vw;
    }

    #inputType, #inputYear {
        width: 10vw;
    }
}

.btn {
    border: solid #EEEEEE 1px;
    border-radius: 3px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #EEEEEE;
}

.btn:hover {
    cursor: pointer;
    background-color: #EEEEEE;
    color: rgb(53, 54, 66);
}

.input {
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    padding: 0 10px;
}

#inputTitle {
    height: 40px;
}

#inputType, #inputYear {
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#lista {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.pelicula {
    min-height: 20vh;
    max-height: 50vh;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    margin: 10px;
}

.pelicula:hover {
    background-color: rgb(73, 73, 73);
}

img {
    float: left;
    height: 20vh;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

#paginas {
    margin: 10px auto;
    display: inline-flex;
}

.modal-content {
    background-color: rgb(73, 73, 73);
    text-align: left;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-body::-webkit-scrollbar {
    width: 5px;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #EEEEEE;
    border-radius: 20px;
}

.modal-footer {
    border-top: 0 none;
}